@media(max-width: 569px) {
    .card.list-profiles{
        margin-top: 7%;
    }
    .card.list-profiles:last-child{
        margin-bottom: 5%;
    }
    form{
        width: 80%;
        margin-left: 10%;
    }
    .signup button{
        margin-top: 6%;
        margin-bottom: 5%;
    }
    /* .navigation .navbar-toggler {
        margin-right: 10px;
    } */

    .search h1 {
        font-size: 35px;
        text-align: center;
        margin-left: -4%;
    }

    .search .input-group {
        margin-top: 20px;
        width: 95%;
        margin-right: 10%;
        text-align: center;
    }

    .search {
        padding-bottom: 10px;
        margin-top: 30px;
        margin-left: 5%;
    }

    .search .form-control {
        padding-right: 10px;
    }

    .dashboard {
        margin-left: 5%;
        margin-top: 10%;
        margin-right: 5%;
    }

    .container.dashboard{
        margin-bottom: 10%;
        margin-right: auto;
        margin-left: auto;
        height: fit-content;

    }

    .row.parent {
        padding-bottom: 10%;
    }

    .card-header button {
        margin-left: 48%;
    }

    .card-header h6 {
        margin-top: 5%;
    }

    .col-sm-12 {
        margin-top: 6%;
    }
    .col-sm-12:first-child{
        margin-top: 2%;
    }

    .col-sm-12.handyman-list{
        overflow: overlay;
        border-radius: 5px;
        padding-bottom: 3%;
        height: 454px;
    }
    .list-title-desktop{
        text-align: center;
        margin-top: 2%;
    }
    .col-sm-12.handyman-signup{
        padding-top: 7%;
padding-bottom: 4%;
margin-top: 10%;
width: 85%;
border-radius: 5%;
margin-left: 9%;    
    }
    .invite{
        margin-bottom: 5%;
        text-align: center;
    }
    .container.filter{
        text-align: center;
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 5px;
        margin-bottom: 2%;
        border: 1px solid rgb(143, 143, 143);

    }
    div.border{
        border: 1px solid rgb(143, 143, 143);
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 5%;
    }
    .border button{
        margin-left:70%;
    }
    
    .result{
        display: inline;
    }
    .result.fname{
        margin-top: 5%;
        margin-right: 3px;
        font-weight: bold;
    }
    .result.lname{
        font-weight: bold;
        margin-right: 3%;
    }
    .result.phone{
        
        margin-right: 5%;
        display:block;
    }
    .result.rate{
        margin-right: 29%;
        display: block;
    }
    .result.phone,.result.rate{
        margin-left: 7%;
    }
    .result.skill{
        margin-right: 2%;
        border: 2px solid rgb(143, 143, 143);
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        
    }
    .skill-list.my-list{
        margin-right: 10%;
    }
    li.my-list{
        margin-right: 2%;
        border: 2px solid rgb(143, 143, 143);
        border-radius: 5px;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 2%;
    }
    .skill-list{
        margin-top: 10px;
        text-align: left;
        margin-left: -10%;
       
    }
    .col-6.skills{
        width: 382px;
    }

    
}
@media (min-width: 570px) {
    div.border{
        border: none !important;
    }
    .result{
        display: inline;
    }
    .result.fname{
        margin-right: 3px;
        font-weight: bold;
    }
    .result.lname{
        font-weight: bold;
        margin-right: 3%;
    }
    .result.phone{
        margin-right: 5%;
    }
    .result.skill{
        margin-right: 2%;
        border: 1px solid rgb(143, 143, 143);
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .skill-list{
        margin-top: 10px;
        text-align: left;
        
    }
    .result.rate{
        margin-right: 3%;
    }
    .container.result{
        display: block;
        text-align: left;
        margin-left: 27%;
        
    }
    
    section.results{
        margin-bottom: 10%;
        margin-top: 2%;
    }
    .container.filter{
        text-align: center;
        width: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 5px;
        margin-bottom: 2%;
        border: 1px solid rgb(143, 143, 143);

    }
    .container.filter h4{
        font-weight: lighter;
    }
    .container .col-lg-6.rate{
        margin-left: -30%;
    }
    
    
    .result button{
        float: right;
margin-right: 39%;
    }
    
    .col-sm-12.handyman-list{
        margin-left: 19%;
            overflow: overlay;
            border-radius: 5px;
            border: 1px solid rgb(143, 143, 143);
            width: 60%;
            margin-top: 5%;
            height: 600px;
            display: table;
    }
    .profile-name{
        margin-top: 2%;
    }
    .remove-button button{
        margin-left: 62%;
        margin-top: 1%;
    }
    .row.innercard{
        margin-right: -18%;
    }
    .list-profiles{
        width: 91%;
        margin-top: 5%;
    }
    .col-sm-12.list-layout{
        padding-left: 10%;
    }
    .col-sm-12.list-layout:last-child{
        margin-bottom: 5%;
    }
    .col-sm-12.list-layout:first-child{
        margin-top: 5%;
    }
    .skills{
        width: 50%;
        margin-left: -12%;
    }
    .search h1{
        margin-top: 2%;
        margin-left: 40%;
        margin-bottom: 2%;
        
    }
    .input-group{
        width: 50%;
        height: 50%;
        margin-left: 25%;
    }
    .d-grid .btn{
        display: none;
    }
    .dashboard header{
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .col-sm-12.list-layout{
        margin-bottom: 2%;
    }
   
    .handyman-signup{
        border: 1px solid rgb(143, 143, 143);
        border-radius: 5px;
        margin-left: 4%;
        width: 32%;
    }
    .list-title-mobile{
        display:none;
    }
    .list-title-desktop{
        margin-top: 8%;
        text-align: center;
    }
    
    .invite{
        margin-top: 10%;
        margin-bottom: 7%;
        text-align: center;
    }
    .handyman-signup input,.handyman-signup label{
        width: 80%;
        margin-left: 10%;
    }
    .handyman-signup input:not(:first-child),.handyman-signup label:not(:first-child){
        margin-bottom: 3%;
    }
    .handyman-signup button{
        margin-top: 5%;
        margin-left: 70%;
    }
    .handyman-signup{
        height: 917px;
margin-left: 33%;
margin-top: 2%;
margin-bottom: 3%;
        
    }
    
    .handyman-list{
        margin-bottom: 20%;
    }
    
    .container.dashboard{
        margin-left: 17%;
    }
}
.dropdown-button{
    background-color: white;
    color:black;
    border-color: white;
}
.search input{
    text-align: center;
}
nav-link{
    color: #707071 !important;
}
/* .navbar-nav {
    margin-left: 2%;
}
.navigation .navbar-brand {
    margin-left: 10px;
} */
hr {
    margin-left: 14%;
    width: 70%;
    text-align: center;
}
* {
    box-sizing: border-box;
}
body { min-height: 100vh; }